In [ ]:
for i in range(5):
    print(i*50)

0
50
100
150
200