In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4